.cart-page h1 {
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 80px;
}

.cart-item button {
  margin-left: auto;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 40px;
  padding: 24px 30px;
  border-radius: 16px;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.cart-info {
  flex: 1;
}

/* .qty-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.qty-control button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #111;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.qty-control span {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
}

.remove-btn {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #999;
}

.remove-btn:hover {
  color: #111;
}

.cart-summary .checkout-btn {
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
} */
/* 
//form  */


/* modal background */
.modal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  justify-content:center;
  align-items:center;
  z-index:9999;
}

/* modal box */
.modal-box{
  background:#fff;
  padding:40px;
  border-radius:20px;
  width:400px;
  position:relative;
}

.modal-box input,
.modal-box textarea{
  width:100%;
  padding:12px;
  margin-bottom:14px;
  border-radius:10px;
  border:1px solid #ddd;
}

.pay-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:30px;
  background:#111;
  color:white;
  cursor:pointer;
}

#closeModal{
  position:absolute;
  top:10px;
  right:16px;
  cursor:pointer;
}
