.pdp {
  padding: 100px 0;
}

.pdp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.main-img {
  width: 100%;
  border-radius: 20px;
}

.thumbs img {
  width: 70px;
  margin-top: 10px;
  cursor: pointer;
}

.price {
  font-size: 22px;
  margin: 14px 0;
}

.price del {
  margin-left: 10px;
  color: #999;
}

.buy-now {
  margin-top: 16px;
  width: 100%;
  padding: 14px;
  background: #111;
  color: #fff;
  border-radius: 30px;
  border: none;
}

@media (max-width: 900px) {
  .pdp-grid {
    grid-template-columns: 1fr;
  }
}
